@import url(reset.css);
@import url(fonts.css);
@import url(images.css);
@import url(response.css);

header nav{
  display: flex;
  justify-content: center;
}

header div {
  display: none;
}

header div ul {
  display: none;
}

section {    
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
}

section.active {  
  position: static;
  opacity: 1;
  pointer-events: auto;
}

body {  
  background-image: url(../images/background-fotor-20230625123851.jpg);  
  background-size: cover;
  background-repeat: no-repeat;  
  background-attachment: fixed;  
}

main, section, article {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
}

header li:hover {
  background-color: #ffffff;
  border-radius: 1rem;
  color: #4A66B6;
  transition: 500ms;
  cursor: pointer;
}

header ul li {
  margin: 1rem;
  font-size: 1.7rem;
  padding: 1rem;
  font-weight: 200;
}

article h2, article span, article ul, article li{
  margin: 0.8rem;
}

#main, #about, #portfolio, #skills{
  margin-top: 6rem;
}

#main article div:hover {
  background-color: #ffffff;
  border-radius: 1rem;
  color: #4A66B6;
  transition: 500ms;
}

#main h1 {
  margin: 1rem;
}

#about { 
  width: 60%;
  background-color: #ffffff1e;
  border-radius: 1rem;  
}

#about article {
  font-size: 1.2rem;
  padding: 2rem;
}

#portfolio article {
  display: flex;
  flex-direction: row;
}

#portfolio article figure {
  width: 300px;
  height: 300px;
  border: 2px solid #4a67b671;  
  margin: 1rem 1rem 15rem 1rem;
  border-radius: 1rem;
  transition: transform 0.5s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio article figure figcaption {
  padding: 1rem;
}

#portfolio article figure img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

#portfolio figure:hover {
  transform: translateY(-8px);
  box-shadow: 15px 8px 6px -6px #4a67b679;
  cursor: pointer;
}

#skills div {
  display: flex;
  width: 100%;
}

#skills article {
  background-color: #ffffff31;
  margin: 2rem;    
  border-radius: 1rem;
}

#skills article ul{
  display: flex;
  flex-direction: column;
}

#skills article ul li{
  background-color: #8686862c;
  height: 7rem;
  width: 24rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  transition: transform 500ms, box-shadow 500ms;
}

#skills article ul li:hover{
  transform: translateY(-8px);
  box-shadow: 15px 8px 6px -6px #4a67b679;
  cursor: pointer;
}

#skills article ul li img{  
  height: 5rem;
  width: 5rem;  
  border-radius: 1rem;
  margin-right: 1rem;
}