@import url(reset.css);
@import url(fonts.css);
@import url(images.css);

#about, #portfolio, #skills {
  display: none;
}

html {
  background-image: url(../images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat; 
}

body {
  background-image: linear-gradient(#4a67b6bd, #ffffffb0);
  height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

main, section, article {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

main {
  margin: 3rem;  
  width: 100%;
}

ul {
  display: flex;
}

header a:hover {
  background-color: #ffffff;
  border-radius: 1rem;
  color: #4A66B6;
  transition: 500ms;
}

header ul li {
  margin: 1rem;
  font-size: 1.7rem;
}

article h2, article span, article ul, article li{
  margin: 0.8rem;
}

#main article div:hover {
  background-color: #ffffff;
  border-radius: 1rem;
  color: #4A66B6;
  transition: 500ms;
}

#about { 
  width: 60%;
  background-color: #ffffff80;
  border-radius: 1rem;
}

#about article {
  font-size: 1.2rem;
  padding: 2rem;
}

#portfolio article {
  display: flex;
  flex-direction: row;
}

#portfolio article figure {
  width: 300px;
  height: 300px;
  border: 2px solid #4A66B6;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 1rem;
  transition: transform 0.5s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio article figure figcaption {
  padding: 1rem;
}

#portfolio article figure img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

figure:hover {
  transform: translateY(-8px);
  box-shadow: 15px 8px 6px -6px #4a67b679;
  cursor: pointer;
}